@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Lato:wght@400;700;900&family=Merriweather:wght@400;700;900&family=Sora:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ria-secondary-color: #25284b;
  --neutral-black: #111222;
  --dark: #000000;
  --white: #fff;
  --ria-primary-color: #195882;
  --btn-color: #afafaf;
  --background-color: #fafafa;
}
